<!doctype html>
<html lang="en">
<head data-th-replace="fragments/layout :: headFragment(title='All Dictionaries')"></head>
<body>
<div data-th-replace="fragments/layout :: navBar"></div>
<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>All Dictionaries</h1>
            <form data-th-action="@{/search}">
                <div class="input-field col s12">
                    <input id="dictionaryName" name="name" type="search" class="validate" data-th-value="${name}">
                    <label for="dictionaryName">Dictionary Name</label>
                    <button class="waves-effect waves-light btn modal-trigger" type="submit">Search</button>
                </div>
            </form>
            <ul class="collection">
                <li class="collection-item" data-th-each="dictionary : ${dictionaries}">
                    <a data-th-href="@{/dictionary/{id} (id = ${dictionary.id})}">
                        <span data-th-text="${dictionary.name}"></span>
                    </a>
                </li>
            </ul>
            <p data-th-if="${dictionaries.size() == 0}" class="no-items">No products to display</p>

            <form method="post">
                <a name="add" class="waves-effect waves-light btn modal-trigger" href="#addDictionary">Add Dictionary</a>

                <div id="addDictionary" class="modal">
                    <div class="modal-content">
                        <h4>Do you want add dictionary?</h4>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="name" name="name" type="text" class="validate" required>
                                <label for="name">Dictionary Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="/" class="modal-close waves-effect waves-red btn-flat">Disagree</a>
                        <button name="buttonAdd" class="modal-close waves-effect waves-green btn-flat" type="submit">Agree</button>
                    </div>
                </div>
            </form>

            <!--<a data-th-href="@{/dictionaries/add}" class="waves-effect waves-light btn">Add Dictionary</a>-->
            <!--<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>-->
        </div>
    </div>
</div>
<div data-th-replace="fragments/layout :: scriptsFragment"></div>
<script>
    $(document).ready(function () {
        $('.modal').modal({
            outDuration: 500
        });
    })
</script>
</body>
</html>