<!doctype html>
<html lang="en">
<head data-th-replace="fragments/layout :: headFragment(title=${dictionary.name})"></head>
<body>
<div data-th-replace="fragments/layout :: navBar"></div>
<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>[[${dictionary.name}]]</h1>
            <form data-th-action="@{/dictionary/search}">
                <div class="input-field col s12">
                    <input id="wordSearch" name="word" type="search" class="validate" data-th-value="${word}">
                    <label for="wordSearch">Word</label>
                    <button class="waves-effect waves-light btn modal-trigger" type="submit">Search</button>
                </div>
            </form>
            <div>
                <table>
                    <thead>
                    <tr>
                        <th>Word</th>
                        <th>Transcription</th>
                        <th>Translation</th>
                        <th>Reminder</th>
                    </tr>
                    </thead>

                    <tbody data-th-each="word : ${words}">
                    <tr>
                        <td>
                            <a data-th-href="@{/word/{idWord} (idWord = ${word.id})}">
                                <span data-th-text="${word.word}"></span>
                            </a>
                        </td>
                        <td>[[${word.transcription}]]</td>
                        <td>[[${word.translation}]]</td>
                        <td>[[${word.reminder}]]</td>
                    </tr>
                    </tbody>
                    <form method="post">
                        <button class="modal-close waves-effect waves-green btn-flat" type="submit">add</button>
                    </form>
                </table>
                <form method="post">
                    <a class="waves-effect waves-light btn modal-trigger" href="#addWord">Add Word</a>
                    <div id="addWord" class="modal">
                        <div class="modal-content">
                            <h4>Do you want add word?</h4>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="word" name="word" type="text" class="validate" required>
                                    <label for="word">Word</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="transcription" name="transcription" type="text">
                                    <label for="transcription">Transcription</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="translation" name="translation" type="text" class="validate" required>
                                    <label for="translation">Translation</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="reminder" name="reminder" type="text" class="validate">
                                    <label for="reminder">Reminder</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-red btn-flat">Disagree</a>
                            <button class="modal-close waves-effect waves-green btn-flat" type="submit">Agree</button>
                        </div>
                    </div>
                </form>
                <a class="waves-effect waves-light btn"
                   data-th-href="@{/dictionary/{idDictionary}/remove (idDictionary = ${dictionary.id})}">Remove</a>
            </div>
        </div>
    </div>
</div>
<div data-th-replace="fragments/layout :: scriptsFragment"></div>
<script>
    $(document).ready(function () {
        $('.modal').modal();
    })

</script>
</body>
</html>